<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="page-header">
        <h1><%= @poem.title %></h1>
      </div>
      <div class="poem-area">
        <p>
          <%= markdown(@poem.description) %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="media-left">
        <%= image_tag @poem.icon_url, class: "img-circle", width: 40 %>
      </div>
      <div class="media-body">
        <div>
          <%= @poem.author_name %>
        </div>
        <div>
          <%= l @poem.created_at %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "読んだよ", poem_read_poems_path(@poem), method: :post, class: "btn btn-primary"%>
    <% @read_poems.each do |read_poem| %>
      <span><%= link_to_if current_user.my_read_poem?(read_poem),
                           image_tag(read_poem.icon_url, class: "img-circle", width: 35, alt: read_poem.user_name, title: read_poem.user_name ),
                           read_poem_path(read_poem), method: :delete %></span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-pills">
      <% if current_user.my_poem?(@poem) then %>
      <li role="presentation"><%= link_to "ポエムを編集する", edit_poem_path(@poem) %></li>
      <li role="presentation"><%= link_to "ポエムを削除する", poem_path(@poem), method: :delete, data: { confirm: "本当に削除しますか？" }%></li>
      <li role="presentation"><%= link_to "自分のポエム一覧に戻る", poems_path %></li>
      <% end %>
      <li role="presentation"><%= link_to "みんなのポエム一覧に戻る", home_index_path%></li>
    </ul>
  </div>
</div>
