<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="page-header">
        <h1><%= @poem.title %></h1>
        <%= render 'original_poem_link', poem: @poem.original_poem %>
      </div>
      <div class="poem-area">
        <p>
          <%= markdown(@poem.description) %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="media-left">
        <%= image_tag @poem.icon_url, class: "img-circle", width: 40 %>
      </div>
      <div class="media-body">
        <%= @poem.author_name %> <br/>
        <%= l @poem.created_at %>
      </div>
      <div class="media-right text-right">
        <%= link_to new_poem_path(poem_id: @poem.id) do %>
          <i class="fa fa-retweet fa-2x" data-toggle="tooltip" data-placement="right" title="Repoem"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "読んだよ", poem_read_poems_path(@poem), method: :post, class: "btn btn-primary"%>
    <% @read_poems.each do |read_poem| %>
      <span><%= link_to_if current_user.my_read_poem?(read_poem),
                           image_tag(read_poem.icon_url, class: "img-circle", width: 35, alt: read_poem.user_name, title: read_poem.user_name ),
                           read_poem_path(read_poem), method: :delete %></span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to_if( current_user.my_poem?(@poem), "ポエムを編集する", edit_poem_path(@poem)){} %></li>
      <li role="presentation"><%= link_to_if( current_user.my_poem?(@poem), "自分のポエム一覧に戻る", poems_path){} %></li>
      <li role="presentation"><%= link_to "みんなのポエム一覧に戻る", home_index_path%></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @repoems.each do |repoem| %>
      <div class="small">
        <%= image_tag repoem.icon_url, class: "img-circle", width: 16 %>
        <%= repoem.author_name %>さんがリポエムしました
        <%= link_to repoem do %>
          <%= markdown(repoem.description.lines.first.chomp) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
