<div class="page-header">
  <h1>自分のポエム一覧</h1>
</div>
<p>
  <%= link_to "ポエムを作成する", new_poem_path, class: "btn btn-primary btn-lg" %>
</p>
<ul class="list-group container-fluid">
  <% @poems.each do |poem| %>
    <li class="list-group-item ">
      <%= link_to poem do %>
        <div class="row">
          <div class="col-xs-6">
            <%= poem.title %>
          </div>
          <div class="col-xs-3">
            <span><%= poem.read_poems.size %></span>個読んだよマークがつけられました
          </div>
          <div class="col-xs-3">
            <%= l poem.created_at%>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="row text-center">
  <%= paginate @poems %>
</div>
