
<% if current_user.blank? %>
  <div class="page-header">
    <h1>Nasulog</h1>
  </div>
  <div class="row">
    <div class="col-sm-9">
      ポエムを綴る場所です。<br>
      個人的な夢や目標、やりたいことややっていること。<br>
      すこし改善した方が良いと思っていることや、もにょっていること。<br>
      辛いと思っていることや、楽しいと思っていること。<br>
      そのたもろもろ自由に書いていきましょう。<br>
      気が向いたときに見に来ると、意外な発見があるかも知れません。
    </div>
  </div>
<% else %>
  <div class="page-header">
    <h1>みんなのポエム一覧</h1>
  </div>
  <p>
  <%= link_to "ポエムを作成する", new_poem_path, class: "btn btn-primary btn-lg" %>
  </p>
  <ul class="list-group">
    <% @poems.each_slice(3) do |poems| %>
      <div class="row">
        <% poems.each do |poem| %>
          <li class="list-group-item col-md-4">
            <%= link_to poem do %>
              <div class="medila">
                <div class="media-left">
                  <%= image_tag(poem.icon_url, class: "img-circle", width: 60) %>
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <span class="link-text"><%= poem.title.truncate(15) %></span>
                  </div>
                  <div class="media-content">
                    <%= poem.author_name %>
                  </div>
                  <div class="text-right">
                    <%= poem.created_at %>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </div>
    <% end %>
  </ul>
  <div class="row text-center">
    <%= paginate @poems %>
  </div>
<% end %>
