<header>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gloabal-header" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Nasulog", home_index_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="gloabal-header">
        <% if current_user.present? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", home_index_path %></li>
          <li><%= link_to "My Poem", poems_path %></li>
        </ul>
        <% end %>
        <p class="navbar-text navbar-right">
          <% if current_user.blank? %>
            <a href="/auth/google_oauth2">ログイン/新規登録</a>
          <% else %>
            <%= link_to current_user.name, edit_user_path%> | <%= link_to 'ログアウト', logout_path %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</header>
